<%- include('header') -%>
<h2>This is the About page!</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat illo minus
  eum deserunt fuga quaerat nemo architecto. Labore veniam, deleniti odio, qui
  odit assumenda sapiente nulla dignissimos neque esse ipsa?
</p>
<%- include('footer') -%>
